@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.select-btn {
  position: absolute;
  top: 5%;
  left: 5%;
}
.custom-tag {
  position: absolute;
  bottom: 11%;
  left: 5%;
}
.custom-tag .ant-tag {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

.ant-tag p {
  font-size: 16px;
  margin-bottom: 0.25em;
}

.mapboxgl-popup-content {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.mapboxgl-popup-content h3, .mapboxgl-popup-content h4 {
  margin-bottom: 0.25em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
